.Synonyms {
    margin: 15px 0 0;
    padding: 0;
    color: #4b0082;
    font-family: 'Roboto', sans-serif;
}

.Synonyms li {
    font-size: 14px;
    display: inline-block;
    padding-right: 12px;
    line-height: 1.4;
    color: #8e44ad;
}
